@model IEnumerable<LogisticsAssistant.Models.TruckRoute>

@functions {
    @functions {
        public DateTime CalculateEnd(TruckRoute route, List<GanttRow> ganttData)
        {
            double driveHours = (double)route.Distance / route.Truck.Vmax;
            double driveMinutes = driveHours * 60;

            double remainingToBreak = route.RemainingToBreak;
            double firstSegment = Math.Min(remainingToBreak, driveMinutes);
            double remainingAfterFirst = driveMinutes - firstSegment;

            int numberOfBreaks = 0;

            if (remainingAfterFirst > 0)
            {
                numberOfBreaks++;
                numberOfBreaks += (int)(remainingAfterFirst / route.BreakFrequency);
            }

            double totalBreakMinutes = numberOfBreaks * route.Truck.DriverBreak;

            TimeSpan drivingTime = TimeSpan.FromMinutes(driveMinutes);
            TimeSpan breakTime = TimeSpan.FromMinutes(totalBreakMinutes);
            TimeSpan totalTime = drivingTime + breakTime;

            if (numberOfBreaks == 0)
            {
                DateTime end = route.Date.Add(totalTime);

                ganttData.Add(new GanttRow
                {
                    TruckName = route.Truck.LicensePlate,
                    Start = route.Date,
                    End = end
                });

                return end;
            }

            DateTime date = route.Date;

            ganttData.Add(new GanttRow
            {
                TruckName = route.Truck.LicensePlate,
                Start = date,
                End = date.AddMinutes(firstSegment)
            });

            date = date.AddMinutes(firstSegment);

            for (int i = 0; i < numberOfBreaks; i++)
            {
                ganttData.Add(new GanttRow
                {
                    TruckName = route.Truck.LicensePlate,
                    Start = date,
                    End = date.AddMinutes(route.Truck.DriverBreak)
                });

                date = date.AddMinutes(route.Truck.DriverBreak);

                double segment = Math.Min(route.BreakFrequency, remainingAfterFirst);
                remainingAfterFirst -= segment;

                if (segment > 0)
                {
                    ganttData.Add(new GanttRow
                    {
                        TruckName = route.Truck.LicensePlate,
                        Start = date,
                        End = date.AddMinutes(segment)
                    });

                    date = date.AddMinutes(segment);
                }
            }

            return date;
        }
    }

}

@{
    var ganttData = new List<GanttRow>();

    foreach (var r in Model)
    {
        CalculateEnd(r, ganttData);
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Truck Routes Gantt with Breaks</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('gantt_chart');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Truck' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            dataTable.addRows([
                @foreach (var row in ganttData)
                {
                        <text>
                            ['@row.TruckName',
                             new Date(@row.Start.Year, @row.Start.Month-1, @row.Start.Day, @row.Start.Hour, @row.Start.Minute),
                             new Date(@row.End.Year, @row.End.Month-1, @row.End.Day, @row.End.Hour, @row.End.Minute)
                            ],
                        </text>
                }
            ]);

            chart.draw(dataTable);
        }
    </script>
</head>
<body>
    <h2>Routes</h2>
    <div id="gantt_chart" style="height: 500px;"></div>
</body>
</html>