@model LogisticsAssistant.Models.TruckRoute

@{
    ViewData["Title"] = "Detail of route";

    double distance = Model.Distance;
    double vmax = Model.Truck.Vmax;
    double breakFrequency = Model.BreakFrequency;
    double driverBreak = Model.Truck.DriverBreak; 
    DateTime start = Model.Date;

    double driveHours = distance / vmax;
    double driveMinutes = driveHours * 60;

    int numberOfBreaks = (int)(driveMinutes / breakFrequency);

    double totalBreakMinutes = numberOfBreaks * driverBreak;

    TimeSpan drivingTime = TimeSpan.FromMinutes(driveMinutes);
    TimeSpan breakTime = TimeSpan.FromMinutes(totalBreakMinutes);
    TimeSpan totalTime = drivingTime + breakTime;

    DateTime endTime = start.Add(totalTime);
}

<div>
    <h1>Route of truck with licence plate: @Model.Truck.LicensePlate</h1>
    <hr />

    <p>Vmax: @Model.Truck.Vmax km/h</p>
    <p>Break that Driver must take: @Model.Truck.DriverBreak min</p>
    <p>Distance: @Model.Distance km</p>
    <p>Break frequency: @Model.BreakFrequency min</p>
    <p>Date of start of route: @Model.Date</p>

    <hr />

    <h2>Summary</h2>

    <p>Total driving time: @drivingTime</p>
    <p>Total break time: @breakTime</p>
    <p>Total route duration: @totalTime</p>
    <p><strong>Route ends at: @endTime</strong></p>
</div>