@model LogisticsAssistant.Models.TruckRoute

@{
    ViewData["Title"] = "Detail of route";

    double distance = Model.Distance;              
    double vmax = Model.Truck.Vmax;                  
    double breakFreq = Model.BreakFrequency;       
    double breakMinutes = Model.Truck.DriverBreak;
    DateTime start = Model.Date;

    double segmentTimeHours = breakFreq / vmax; 
    int numberOfBreaks = (int)(distance / breakFreq) - 1;
    if (numberOfBreaks < 0) numberOfBreaks = 0;

    double totalDriveHours = distance / vmax;
    TimeSpan totalBreaks = TimeSpan.FromMinutes(numberOfBreaks * breakMinutes);

    TimeSpan totalTime = TimeSpan.FromHours(totalDriveHours) + totalBreaks;
    DateTime endTime = start + totalTime;
}

<div>
    <h1>Route of truck with licence plate: @Model.Truck.LicensePlate</h1>
    <hr />

    <p>Vmax: @Model.Truck.Vmax km/h</p>
    <p>Break that Driver must take: @Model.Truck.DriverBreak min</p>
    <p>Distance: @Model.Distance km</p>
    <p>Break frequency: @Model.BreakFrequency km</p>
    <p>Date of start of route: @Model.Date</p>

    <hr/>

    <h2>Summary</h2>

    <p>Total driving time: @TimeSpan.FromHours(totalDriveHours)</p>
    <p>Total break time: @totalBreaks</p>
    <p>Total route duration: @totalTime</p>
    <p><strong>Route ends at: @endTime</strong></p>
</div>
